body{
    background: pink;
}

.newnewlayout div{
    background: red; 
    width: 800px;
    border: 2px solid black;
    margin:10px;
    height: 100px;
    
    flex-basis: 200px;
    flex-wrap: wrap;

}

.newnewlayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.first{
    flex-shrink: 0;
}
.second{
    flex-shrink: 0;
}
.third{
    flex-shrink: ;
}